.event-builder--party-editor {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.event-builder-plus__icon {
  text-align: center; }

.party-editor[v-cloak] {
  display: none; }

.party-editor a::after {
  display: none; }

.party-editor .c-input {
  color: #3a3a3a; }

.party-editor__counter {
  display: inline-flex;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
  background: #7cbd41;
  font-family: "PT Serif Caption";
  font-size: 18px; }
  .party-editor__counter.empty {
    background: #bdde9f; }
  .party-editor__counter input,
  .party-editor__counter button {
    flex: 0 0 auto;
    border: 0;
    padding: 0;
    background: transparent;
    font-family: inherit;
    text-align: center;
    color: #fff; }
  .party-editor__counter input {
    width: 1.5em !important;
    font-size: 1em !important; }
  .party-editor__counter button {
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.86957em;
    height: 0.86957em;
    border-radius: 50%;
    font-size: 1.27778em;
    cursor: pointer; }
    .party-editor__counter button:hover {
      background: #6faa3a; }

.party-editor__content {
  padding: 20px 0 50px 0 !important; }

.party-editor__title {
  font-family: "SummerFont";
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px; }

.party-editor__layout {
  display: flex; }
  .party-editor__layout__left {
    padding-right: 25px;
    flex: 0 0 auto;
    width: calc(100% - 345px);
    position: relative;
    z-index: 100; }
  .party-editor__layout__right {
    flex: 0 0 auto;
    width: 345px; }

.party-editor__fixed {
  display: flex; }
  .party-editor__fixed__check {
    position: relative;
    z-index: 100;
    flex: 0 0 auto;
    width: 245px; }
    .party-editor__fixed__check__body {
      padding: 15px 20px;
      border: 1px solid #d1d1d1;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 9.2px 0.8px;
      background: url(../images/olive-bg.jpeg);
      font-family: "PT Serif Caption"; }
  .party-editor__fixed__nav__rotate {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    height: 0;
    padding-bottom: 100%;
    margin-left: 115px; }

.party-editor__nav-desktop {
  display: flex;
  align-items: center;
  margin-left: -0.5em;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: "SummerFont";
  font-size: 30px;
  font-weight: 700; }
  .party-editor__nav-desktop__item {
    transition: color 0.2s !important;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em 0.5em 1em 2.5em;
    margin-left: -0.5em;
    background: url(../images/arrow-green.png) no-repeat 0 50%;
    background-size: auto 100%;
    color: #231300; }
    .party-editor__nav-desktop__item:before {
      content: " ";
      position: absolute;
      width: 2em;
      height: 100%;
      left: 100%;
      top: 0;
      height: 100%;
      background: url(../images/arrow-green.png) no-repeat 100% 50%;
      background-size: auto 100%; }
    .party-editor__nav-desktop__item:hover {
      color: #fff; }
    .party-editor__nav-desktop__item.active {
      z-index: 10 !important;
      padding: 1.3em 0.5em 1.3em 1.5em;
      background-image: url(../images/arrow-pink.png);
      color: #fff; }
      .party-editor__nav-desktop__item.active:before {
        width: 2.3em;
        background-image: url(../images/arrow-pink.png); }
      .party-editor__nav-desktop__item.active .party-editor__nav-desktop__icon {
        display: flex; }
        .party-editor__nav-desktop__item.active .party-editor__nav-desktop__icon svg {
          fill: #fff; }
    .party-editor__nav-desktop__item.history {
      z-index: auto !important;
      padding-left: 1.5em !important;
      background-image: url(../images/arrow-olive.png); }
      .party-editor__nav-desktop__item.history:before {
        background-image: url(../images/arrow-olive.png); }
      .party-editor__nav-desktop__item.history .party-editor__nav-desktop__icon {
        display: flex; }
      .party-editor__nav-desktop__item.history:hover {
        color: #67af26; }
        .party-editor__nav-desktop__item.history:hover .party-editor__nav-desktop__icon svg {
          fill: #67af26; }
    .party-editor__nav-desktop__item.locked {
      cursor: default;
      color: #67b125 !important;
      opacity: 0; }
    .party-editor__nav-desktop__item:nth-child(5) {
      z-index: 1; }
    .party-editor__nav-desktop__item:nth-child(4) {
      z-index: 2; }
    .party-editor__nav-desktop__item:nth-child(3) {
      z-index: 3; }
    .party-editor__nav-desktop__item:nth-child(2) {
      z-index: 4; }
    .party-editor__nav-desktop__item:nth-child(1) {
      margin-left: 0;
      padding-left: 1.5em !important;
      z-index: 5; }
  .party-editor__nav-desktop__icon {
    margin-right: 10px;
    display: none; }
    .party-editor__nav-desktop__icon svg {
      transition: all 0.2s;
      width: 1.2em;
      height: 1.2em; }

.party-editor__nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  padding-top: 30px;
  background: #fff; }
  .party-editor__nav-mobile__slider {
    display: flex;
    white-space: nowrap;
    align-items: center; }
  .party-editor__nav-mobile__item {
    padding: 0 15px;
    font-family: "SummerFont";
    font-size: 36px;
    line-height: 1;
    color: #d5d3d4 !important; }
    .party-editor__nav-mobile__item:before {
      content: "";
      position: absolute;
      top: 50%;
      right: -7px;
      width: 0.3em;
      height: 0.3em;
      background: url(../images/icons/arrow-right.svg) no-repeat 50% 50%;
      background-size: contain; }
    .party-editor__nav-mobile__item--last:before {
      display: none; }
  .party-editor__nav-mobile .slick-current a {
    color: #c44890 !important; }
  .party-editor__nav-mobile .slick-track {
    display: flex;
    align-items: center; }

.party-editor__goods__image {
  background-position: 50% 50%;
  background-size: cover; }
  .party-editor__goods__image:before {
    content: " ";
    padding-top: 100%;
    display: block; }

.party-editor__goods__title {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: "SummerFont";
  font-size: 48px;
  line-height: 1; }

.party-editor__goods__name {
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 1;
  color: #2e1a13; }

.party-editor__goods__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }

.party-editor__goods__col {
  padding: 0 10px;
  margin-bottom: 20px;
  flex: 0 0 auto;
  width: 300px; }

.party-editor__goods__item {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  font-family: "PT Serif Caption"; }

.party-editor__goods__desc {
  margin-top: auto; }

.party-editor__goods__price-row {
  display: flex; }

.party-editor__goods__price {
  font-family: "BebasNeue";
  font-size: 39px;
  font-weight: 500;
  line-height: 1;
  color: #553023; }

.party-editor__goods__counter {
  margin-left: auto; }

.party-editor__goods__props {
  display: flex;
  margin: 10px -3px 0 -3px; }
  .party-editor__goods__props__col {
    flex: 0 0 auto;
    padding: 0 3px;
    width: 50%; }
  .party-editor__goods__props .SelectBox {
    padding: 0.7em 1em;
    border-radius: 4px;
    font-size: 15px; }

.party-editor__promo {
  padding: 100px 55px;
  margin: 0 1px;
  background: url(../images/promo.jpeg) no-repeat 50% 50%;
  background-size: cover; }
  .party-editor__promo__text {
    padding: 40px;
    max-width: 575px;
    background: rgba(196, 72, 144, 0.9);
    color: #fff; }
  .party-editor__promo__title {
    font-family: "BebasNeue";
    font-size: 50px;
    font-weight: 700;
    line-height: 1; }
  .party-editor__promo__desc {
    font-size: 18px;
    line-height: 1.55556; }

.party-editor__group {
  margin: 30px 0;
  padding: 30px 40px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0px 5px 9.2px 0.8px rgba(0, 0, 0, 0.1);
  background: #fff; }
  .party-editor__group--confetti {
    background: #fff url(../images/confetti.jpeg) no-repeat 50% 100%;
    margin-bottom: 0; }
  .party-editor__group--mt-0 {
    margin-top: 0; }
  .party-editor__group__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .party-editor__group__footer > * {
      margin: 10px 15px; }

.party-editor__about {
  text-align: center; }
  .party-editor__about__text {
    max-width: 1000px;
    margin: 0 auto; }
  .party-editor__about__title {
    font-family: "BebasNeue";
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    color: #c44890; }
  .party-editor__about__desc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5; }
  .party-editor__about__btn {
    margin-top: 25px; }

.party-editor__steps {
  display: flex;
  margin: 20px -10px 35px -10px;
  font-family: "PT Serif Caption"; }
  .party-editor__steps__col {
    flex: 0 0 auto;
    width: 20%;
    padding: 0 10px;
    display: flex;
    flex-direction: column; }
  .party-editor__steps__step {
    margin: 0 auto 17px auto;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    border: 1px dashed #555451;
    font-size: 25px;
    line-height: 2.32; }
  .party-editor__steps__desc {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5; }

.party-editor__heroes__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }

.party-editor__heroes__col {
  flex: 0 0 auto;
  width: 300px;
  padding: 0 10px;
  margin-top: 20px; }

.party-editor__heroes__item {
  position: relative; }
  .party-editor__heroes__item:hover .party-editor__heroes__desc {
    opacity: 1; }

.party-editor__heroes__image {
  background-position: 50% 50%;
  background-size: cover; }
  .party-editor__heroes__image:before {
    content: " ";
    padding-top: 75%;
    display: block; }

.party-editor__heroes__desc {
  transition: all 0.2s;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 10px 25px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Serif Caption";
  font-size: 18px;
  text-align: center;
  color: #c44890;
  opacity: 0; }
  .party-editor__heroes__desc__2 {
    font-size: 0.77778em; }

.party-editor__heroes__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px; }
  .party-editor__heroes__btn > * {
    display: block !important; }

.party-editor__attn {
  margin: 10px 0 20px 0;
  padding: 13px 0;
  background: url(../images/pink-bubbles.png);
  font-family: "SummerFont";
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  color: #fff; }

.party-editor__sep {
  border-top: 1px dashed #76665c;
  margin: 10px 0 20px 0; }

.party-editor__result {
  font-family: "PT Serif Caption";
  font-size: 16px;
  line-height: 18/16; }
  .party-editor__result__item {
    margin-top: 13px; }
  .party-editor__result__name {
    position: relative;
    padding-right: 10px; }
    .party-editor__result__name:before {
      content: " ";
      position: absolute;
      border-bottom: 1px dashed #76665c;
      bottom: 0.2em;
      left: 0;
      right: 10px; }
    .party-editor__result__name__text {
      position: relative;
      display: inline;
      padding-right: 10px;
      background: #fff; }
  .party-editor__result__sum > * {
    display: inline; }
  .party-editor__result__price {
    padding-right: 10px;
    font-size: 15px;
    font-style: italic;
    color: #b4b4b4; }
  .party-editor__result__count {
    padding-right: 10px;
    font-size: 15px;
    font-style: italic;
    color: #b4b4b4; }
  .party-editor__result__total {
    white-space: nowrap;
    font-weight: 700; }

.party-editor__comment {
  margin-top: 10px; }

.party-editor__btn-start {
  transition: all 0.2s;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-family: "SummerFont";
  font-size: 3.7rem;
  line-height: 1;
  padding: 1rem 5.4rem;
  background: #c44890;
  border-radius: 50px;
  color: #fff !important;
  cursor: pointer; }
  .party-editor__btn-start:hover {
    background: #ca5b9c; }

.party-editor__btn-apply {
  transition: all 0.2s;
  display: inline-block;
  padding: 13px 30px;
  border-radius: 4px;
  background: #7bc339;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Serif Caption";
  font-size: 18px;
  cursor: pointer;
  color: #fff !important; }
  .party-editor__btn-apply:hover {
    background: #95d05f; }

.party-editor__btn-next {
  transition: all 0.2s;
  display: inline-block;
  padding: 0 30px 12px 30px;
  border-radius: 4px;
  background: #7bc339;
  text-align: center;
  font-family: "SummerFont";
  font-size: 40px;
  line-height: 0.8;
  cursor: pointer;
  color: #fff !important; }
  .party-editor__btn-next:hover {
    background: #95d05f; }

.party-editor__btn-pink {
  transition: all 0.2s;
  display: inline-block;
  padding: 0 30px 12px 30px;
  border-radius: 4px;
  background: #c44890 url(../images/pink-bubbles.png);
  text-transform: lowercase;
  text-align: center;
  font-family: "SummerFont";
  font-size: 40px;
  font-weight: 700;
  line-height: 0.8;
  cursor: pointer;
  color: #fff !important; }
  .party-editor__btn-pink:hover {
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1); }
  .party-editor__btn-pink.active {
    background: #7bc339; }

@media (max-width: 1026.98px) {
  .party-editor__content {
    padding: 50px 0 !important; }
  .party-editor__page {
    display: none; }
    .party-editor__page.active {
      display: block; }
  .party-editor__layout__left {
    padding-right: 0;
    width: 100%; }
  .party-editor__layout__right {
    display: none; }
  .party-editor__nav-desktop {
    display: none; }
  .party-editor__nav-mobile.active {
    position: static;
    visibility: visible; }
  .party-editor__steps {
    flex-wrap: wrap;
    margin-top: 10px; }
    .party-editor__steps__col {
      width: 50%;
      margin-top: 10px; }
  .party-editor__group {
    border: 0;
    box-shadow: none; }
    .party-editor__group:first-child {
      margin-top: 0; } }

@media (max-width: 767.98px) {
  .party-editor__title {
    font-size: 40px; }
  .party-editor__heroes {
    position: relative; }
    .party-editor__heroes__row {
      margin: 0 -6px; }
    .party-editor__heroes__col {
      margin-top: 12px;
      padding: 0 6px;
      width: 50%; }
    .party-editor__heroes__btn {
      padding: 0; }
      .party-editor__heroes__btn > * {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; }
    .party-editor__heroes__image:before {
      padding-top: 100%; }
  .party-editor__goods__title {
    margin-bottom: 15px;
    font-size: 40px; }
  .party-editor__goods__row {
    margin: 0 -6px; }
  .party-editor__goods__col {
    margin-bottom: 12px;
    padding: 0 6px;
    width: 50%; }
  .party-editor__goods__name {
    margin-bottom: 5px;
    font-size: 14px;
    overflow: hidden; }
  .party-editor__goods__price-row {
    display: block; }
  .party-editor__goods__price {
    font-size: 23px; }
  .party-editor__goods__counter {
    margin-left: 0; }
  .party-editor__goods__props {
    display: block; }
    .party-editor__goods__props__col {
      width: 100%;
      margin-top: 5px; }
    .party-editor__goods__props .SelectBox {
      font-size: 12px; }
  .party-editor__group {
    padding: 30px 15px; }
    .party-editor__group__footer {
      justify-content: right; }
      .party-editor__group__footer--center {
        justify-content: center; }
      .party-editor__group__footer > * {
        margin: 10px 0; }
  .party-editor__promo {
    padding: 30px 15px; }
    .party-editor__promo__text {
      max-width: 350px;
      padding: 15px; }
    .party-editor__promo__title {
      font-size: 26px; }
    .party-editor__promo__desc {
      font-size: 14px; }
  .party-editor__steps__desc {
    font-size: 11px; }
  .party-editor__about__text {
    max-width: 500px; }
  .party-editor__about__title {
    font-size: 26px; }
  .party-editor__attn {
    margin-right: -20px;
    margin-left: -20px;
    font-size: 30px; }
  .party-editor__btn-apply {
    font-size: 14px; }
  .party-editor__btn-pink {
    font-size: 30px; }
  .party-editor label {
    display: block; } }

@media (min-width: 768px) {
  .party-editor__counter {
    font-size: 26px; }
  .party-editor__result__item {
    display: flex; }
  .party-editor__result__name {
    flex-grow: 1; }
  .party-editor__result__sum {
    margin-left: auto;
    white-space: nowrap; }
  .party-editor__comment {
    max-width: 680px;
    margin: 0 auto; } }

@media (min-width: 1027px) {
  .party-editor__mobile-only {
    display: none; }
  .party-editor__page.locked {
    height: 0;
    overflow: hidden; } }
