.party-config {
	&__box {
		padding: 30px 40px;
		border: 1px solid #d1d1d1;
		border-radius: 2px;
		box-shadow: 0px 5px 9.2px 0.8px rgba(0, 0, 0, 0.1);
		background: #fff;

		&--confetti {
			background: #fff url(../images/confetti.jpeg) no-repeat 50% 100%;
		}
	}

	&__layout {
		display: flex;

		&__left {
			padding-right: 25px;
			flex: 0 0 auto;
			width: calc(100% - 245px);
		}

		&__right {
			flex: 0 0 auto;
			width: 245px;
		}
	}
}
