.event-builder--party-editor {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.event-builder-plus__icon {
	text-align: center;
}

.party-editor {
	&[v-cloak] {
		display: none;
	}

	a::after {
		display: none;
	}

	.c-input {
		font-size: 1.5rem !important;
		font-style: italic;
		color: #3a3a3a;
	}

	.text-center {
		text-align: center !important;
	}

	&__form {
		&__label {
			margin-bottom: 1rem;
			display: block;
			font-family: "PT Serif Caption";
			font-style: italic;
			font-size: 1.6rem;
			color: #553023;
		}

		&__row {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
		}

		&__col {
			flex: 0 0 auto;
			width: 33.33%;
			margin-bottom: 10px;
			padding: 0 10px;
		}
	}

	&__counter {
		display: inline-flex;
		align-items: center;
		padding: 2px;
		border-radius: 5px;
		background: #7cbd41;
		font-family: "PT Serif Caption";
		font-size: 18px;

		&.empty {
			background: lighten(#7cbd41, 25%);
		}

		input,
		button {
			flex: 0 0 auto;
			border: 0;
			padding: 0;
			background: transparent;
			font-family: inherit;
			text-align: center;
			color: #fff;
		}

		input {
			width: 1.5em !important;
			font-size: 1em !important;
		}

		button {
			transition: all 0.2s;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20/23 + em;
			height: 20/23 + em;
			border-radius: 50%;
			font-size: 23/18 + em;
			cursor: pointer;

			&:hover {
				background: #6faa3a;
			}
		}
	}

	&__content {
		padding: 20px 0 50px 0 !important;
	}

	&__title {
		font-family: "SummerFont";
		font-size: 48px;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 6px;
	}

	&__layout {
		display: flex;

		&__left {
			padding-right: 25px;
			flex: 0 0 auto;
			width: calc(100% - 345px);
			position: relative;
			z-index: 100;
		}

		&__right {
			flex: 0 0 auto;
			width: 345px;
		}
	}

	&__fixed {
		display: flex;

		&__check {
			position: relative;
			z-index: 100;
			flex: 0 0 auto;
			width: 245px;

			&__body {
				padding: 15px 20px;
				border: 1px solid rgb(209, 209, 209);
				border-radius: 4px;
				box-shadow: rgba(#000, 0.1) 0px 5px 9.2px 0.8px;
				background: url(../images/olive-bg.jpeg);
				font-family: "PT Serif Caption";
			}
		}

		&__nav {
			&__rotate {
				transform: rotate(90deg);
				transform-origin: 0 0;
				height: 0;
				padding-bottom: 100%;
				position: relative;
				left: 115px;
			}
		}
	}

	&__nav-desktop {
		display: flex;
		align-items: center;
		margin-left: -0.5em;
		text-transform: uppercase;
		white-space: nowrap;
		font-family: "SummerFont";
		font-size: 30px;
		font-weight: 700;

		&__item {
			transition: color 0.2s !important;
			position: relative;
			display: flex;
			align-items: center;
			padding: 1em 0.5em 1em 2.5em;
			margin-left: -0.5em;
			background: url(../images/arrow-green.png) no-repeat 0 50%;
			background-size: auto 100%;
			color: #231300;

			&:before {
				content: " ";
				position: absolute;
				width: 2em;
				height: 100%;
				left: 100%;
				top: 0;
				height: 100%;
				background: url(../images/arrow-green.png) no-repeat 100% 50%;
				background-size: auto 100%;
			}

			&:hover {
				color: #fff;
			}

			&.active {
				z-index: 10 !important;
				padding: 1.3em 0.5em 1.3em 1.5em;
				background-image: url(../images/arrow-pink.png);
				color: #fff;

				&:before {
					width: 2.3em;
					background-image: url(../images/arrow-pink.png);
				}

				.party-editor__nav-desktop__icon {
					display: flex;

					svg {
						fill: #fff;
					}
				}
			}

			&.history {
				z-index: auto !important;
				padding-left: 1.5em !important;
				background-image: url(../images/arrow-olive.png);

				&:before {
					background-image: url(../images/arrow-olive.png);
				}

				.party-editor__nav-desktop__icon {
					display: flex;
				}

				&:hover {
					color: #67af26;

					.party-editor__nav-desktop__icon {
						svg {
							fill: #67af26;
						}
					}
				}
			}

			&.locked {
				cursor: default;
				color: #67b125 !important;
				opacity: 0;
			}

			&:nth-child(5) {
				z-index: 1;
			}

			&:nth-child(4) {
				z-index: 2;
			}
			&:nth-child(3) {
				z-index: 3;
			}

			&:nth-child(2) {
				z-index: 4;
			}

			&:nth-child(1) {
				margin-left: 0;
				padding-left: 1.5em !important;
				z-index: 5;
			}
		}

		&__icon {
			margin-right: 10px;
			display: none;

			svg {
				transition: all 0.2s;
				width: 1.2em;
				height: 1.2em;
			}
		}
	}

	&__nav-mobile {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
		padding-top: 30px;
		background: #fff;

		&__slider {
			display: flex;
			white-space: nowrap;
			align-items: center;
		}

		&__item {
			padding: 0 15px;
			font-family: "SummerFont";
			font-size: 36px;
			line-height: 1;
			color: #d5d3d4 !important;

			&:before {
				content: "";
				position: absolute;
				top: 50%;
				right: -7px;
				width: 0.3em;
				height: 0.3em;
				background: url(../images/icons/arrow-right.svg) no-repeat 50%
					50%;
				background-size: contain;
			}

			&--last {
				&:before {
					display: none;
				}
			}
		}

		.slick-current a {
			color: #c44890 !important;
		}

		.slick-track {
			display: flex;
			align-items: center;
		}
	}

	&__goods {
		&__image {
			background-position: 50% 50%;
			background-size: cover;

			&:before {
				content: " ";
				padding-top: 100%;
				display: block;
			}
		}

		&__title {
			margin-bottom: 25px;
			text-transform: uppercase;
			font-family: "SummerFont";
			font-size: 48px;
			line-height: 1;
		}

		&__name {
			margin-bottom: 15px;
			font-size: 17px;
			line-height: 1;
			color: #2e1a13;
		}

		&__row {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
		}

		&__col {
			padding: 0 10px;
			margin-bottom: 20px;
			flex: 0 0 auto;
			width: 300px;
		}

		&__item {
			display: flex;
			flex-direction: column;
			position: relative;
			height: 100%;
			border-radius: 3px;
			background: #fff;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
			font-family: "PT Serif Caption";
		}

		&__desc {
			margin-top: auto;
		}

		&__price-row {
			display: flex;
		}

		&__price {
			font-family: "BebasNeue";
			font-size: 39px;
			font-weight: 500;
			line-height: 1;
			color: #553023;
		}

		&__counter {
			margin-left: auto;
		}

		&__props {
			display: flex;
			margin: 10px -3px 0 -3px;

			&__col {
				flex: 0 0 auto;
				padding: 0 3px;
				width: 50%;
			}

			.SelectBox {
				padding: 0.7em 1em;
				border-radius: 4px;
				font-size: 15px;
			}
		}
	}

	&__promo {
		padding: 100px 55px;
		margin: 0 1px;
		background: url(../images/promo.jpeg) no-repeat 50% 50%;
		background-size: cover;

		&__text {
			padding: 40px;
			max-width: 575px;
			background: rgba(#c44890, 0.9);
			color: #fff;
		}

		&__title {
			font-family: "BebasNeue";
			font-size: 50px;
			font-weight: 700;
			line-height: 1;
		}

		&__desc {
			font-size: 18px;
			line-height: (28/18);
		}
	}

	&__group {
		margin: 30px 0;
		padding: 30px 40px;
		border: 1px solid #d1d1d1;
		border-radius: 2px;
		box-shadow: 0px 5px 9.2px 0.8px rgba(0, 0, 0, 0.1);
		background: #fff;

		&--confetti {
			background: #fff url(../images/confetti.jpeg) no-repeat 50% 100%;
			margin-bottom: 0;
		}

		&--mt-0 {
			margin-top: 0;
		}

		&__footer {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			> * {
				margin: 10px 15px;
			}
		}
	}

	&__about {
		text-align: center;

		&__text {
			max-width: 1000px;
			margin: 0 auto;
		}

		&__title {
			font-family: "BebasNeue";
			font-size: 50px;
			font-weight: 700;
			line-height: 1;
			color: #c44890;
		}

		&__desc {
			margin-top: 20px;
			font-size: 16px;
			line-height: (24/16);
		}

		&__btn {
			margin-top: 25px;
		}
	}

	&__steps {
		display: flex;
		margin: 20px -10px 35px -10px;
		font-family: "PT Serif Caption";

		&__col {
			flex: 0 0 auto;
			width: 20%;
			padding: 0 10px;
			display: flex;
			flex-direction: column;
		}

		&__step {
			margin: 0 auto 17px auto;
			width: 60/25 + em;
			height: 60/25 + em;
			border-radius: 50%;
			border: 1px dashed #555451;
			font-size: 25px;
			line-height: (58/25);
		}

		&__desc {
			flex-grow: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			font-weight: 700;
			line-height: (24/16);
		}
	}

	&__heroes {
		&__row {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
		}

		&__col {
			flex: 0 0 auto;
			width: 300px;
			padding: 0 10px;
			margin-top: 20px;
		}

		&__item {
			position: relative;

			&:hover {
				.party-editor__heroes__desc {
					opacity: 1;
				}
			}
		}

		&__image {
			background-position: 50% 50%;
			background-size: cover;

			&:before {
				content: " ";
				padding-top: 75%;
				display: block;
			}
		}

		&__desc {
			transition: all 0.2s;
			background: rgba(#fff, 0.9);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0 10px 25px 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: "PT Serif Caption";
			font-size: 18px;
			text-align: center;
			color: #c44890;
			opacity: 0;

			&__2 {
				font-size: 14/18 + em;
			}
		}

		&__btn {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 25px;

			> * {
				display: block !important;
			}
		}
	}

	&__attn {
		margin: 10px 0 20px 0;
		padding: 13px 0;
		background: url(../images/pink-bubbles.png);
		font-family: "SummerFont";
		font-size: 48px;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
	}

	&__sep {
		border-top: 1px dashed #76665c;
		margin: 10px 0 20px 0;
	}

	&__result {
		font-family: "PT Serif Caption";
		font-size: 16px;
		line-height: 18/16;

		&__item {
			margin-top: 13px;
		}

		&__name {
			position: relative;
			padding-right: 10px;

			&:before {
				content: " ";
				position: absolute;
				border-bottom: 1px dashed #76665c;
				bottom: 0.2em;
				left: 0;
				right: 10px;
			}

			&__text {
				position: relative;
				display: inline;
				padding-right: 10px;
				background: #fff;
			}
		}

		&__sum {
			> * {
				display: inline;
			}
		}

		&__price {
			padding-right: 10px;
			font-size: 15px;
			font-style: italic;
			color: #b4b4b4;
		}

		&__count {
			padding-right: 10px;
			font-size: 15px;
			font-style: italic;
			color: #b4b4b4;
		}

		&__total {
			white-space: nowrap;
			font-weight: 700;
		}
	}

	&__comment {
		margin-top: 10px;
	}

	&__btn-start {
		transition: all 0.2s;
		display: inline-block;
		white-space: nowrap;
		text-align: center;
		text-transform: uppercase;
		font-family: "SummerFont";
		font-size: 3.7rem;
		line-height: 1;
		padding: 1rem 5.4rem;
		background: #c44890;
		border-radius: 50px;
		color: #fff !important;
		cursor: pointer;

		&:hover {
			background: lighten(#c44890, 5%);
		}
	}

	&__btn-apply {
		transition: all 0.2s;
		display: inline-block;
		padding: 13px 30px;
		border-radius: 4px;
		background: #7bc339;
		text-align: center;
		text-transform: uppercase;
		font-family: "PT Serif Caption";
		font-size: 18px;
		cursor: pointer;
		color: #fff !important;

		&:hover {
			background: lighten(#7bc339, 10%);
		}
	}

	&__btn-next {
		transition: all 0.2s;
		display: inline-block;
		padding: 0 30px 12px 30px;
		border-radius: 4px;
		background: #7bc339;
		text-align: center;
		font-family: "SummerFont";
		font-size: 40px;
		line-height: 0.8;
		cursor: pointer;
		color: #fff !important;

		&:hover {
			background: lighten(#7bc339, 10%);
		}
	}

	&__btn-pink {
		transition: all 0.2s;
		display: inline-block;
		padding: 0 30px 12px 30px;
		border-radius: 4px;
		background: #c44890 url(../images/pink-bubbles.png);
		text-transform: lowercase;
		text-align: center;
		font-family: "SummerFont";
		font-size: 40px;
		font-weight: 700;
		line-height: 0.8;
		cursor: pointer;
		color: #fff !important;

		&:hover {
			filter: brightness(1.1);
		}

		&.active {
			background: #7bc339;
		}
	}
}

@media (max-width: 1199.98px) {
	.party-editor {
		&__content {
			padding: 50px 0 !important;
		}

		&__page {
			display: none;

			&.active {
				display: block;
			}
		}

		&__layout {
			&__left {
				padding-right: 0;
				width: 100%;
			}

			&__right {
				display: none;
			}
		}

		&__nav-desktop {
			display: none;
		}

		&__nav-mobile {
			&.active {
				position: static;
				visibility: visible;
			}
		}

		&__steps {
			flex-wrap: wrap;
			margin-top: 10px;

			&__col {
				width: 50%;
				margin-top: 10px;
			}
		}

		&__group {
			border: 0;
			box-shadow: none;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

@media (max-width: 767.98px) {
	.party-editor {
		&__title {
			font-size: 40px;
		}

		&__heroes {
			position: relative;

			&__row {
				margin: 0 -6px;
			}

			&__col {
				margin-top: 12px;
				padding: 0 6px;
				width: 50%;
			}

			&__btn {
				padding: 0;

				> * {
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}
			}

			&__image {
				&:before {
					padding-top: 100%;
				}
			}
		}

		&__goods {
			&__title {
				margin-bottom: 15px;
				font-size: 40px;
			}

			&__row {
				margin: 0 -6px;
			}

			&__col {
				margin-bottom: 12px;
				padding: 0 6px;
				width: 50%;
			}

			&__name {
				margin-bottom: 5px;
				font-size: 14px;
				overflow: hidden;
			}

			&__price-row {
				display: block;
			}

			&__price {
				font-size: 23px;
			}

			&__counter {
				margin-left: 0;
			}

			&__props {
				display: block;

				&__col {
					width: 100%;
					margin-top: 5px;
				}

				.SelectBox {
					font-size: 12px;
				}
			}
		}

		&__group {
			padding: 30px 15px;

			&__footer {
				justify-content: right;

				&--center {
					justify-content: center;
				}

				> * {
					margin: 10px 0;
				}
			}
		}

		&__promo {
			padding: 30px 15px;

			&__text {
				max-width: 350px;
				padding: 15px;
			}

			&__title {
				font-size: 26px;
			}

			&__desc {
				font-size: 14px;
			}
		}

		&__steps {
			&__desc {
				font-size: 11px;
			}
		}

		&__about {
			&__text {
				max-width: 500px;
			}

			&__title {
				font-size: 26px;
			}
		}

		&__attn {
			margin-right: -20px;
			margin-left: -20px;
			font-size: 30px;
		}

		&__btn-apply {
			font-size: 14px;
		}

		&__btn-pink {
			font-size: 30px;
		}

		&__form {
			&__col {
				padding-right: 5px;
				padding-left: 5px;

				&--sm-12 {
					width: 100%;
				}

				&--sm-6 {
					width: 50%;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.party-editor {
		&__counter {
			font-size: 26px;
		}

		&__result {
			&__item {
				display: flex;
			}

			&__name {
				flex-grow: 1;
			}

			&__sum {
				margin-left: auto;
				white-space: nowrap;
			}
		}

		&__comment {
			max-width: 680px;
			margin: 0 auto;
		}
	}
}

@media (min-width: 1200px) {
	.party-editor {
		&__mobile-only {
			display: none;
		}

		&__page {
			&.locked {
				height: 0;
				overflow: hidden;
			}
		}
	}
}

@media (min-width: 1600px) {
	.party-editor {
		&__form {
			&__col {
				&--lg-3 {
					width: 25%;
				}
			}
		}
	}
}
